.hot-deals-product {
  display: flex;
  justify-content: center;
  gap: 47px;
}
.hot-text p {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
  margin-top: 40px;
  border-bottom: 2px dotted #ffae5d;
  margin-bottom: 30px;
}
